In [6]:
import matplotlib as plt
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("titanic.csv")

In [8]:
print(df.head)

<bound method NDFrame.head of       Passengerid   Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0               1  22.0    7.2500    0      1     0       0       0       0
1               2  38.0   71.2833    1      1     0       0       0       0
2               3  26.0    7.9250    1      0     0       0       0       0
3               4  35.0   53.1000    1      1     0       0       0       0
4               5  35.0    8.0500    0      0     0       0       0       0
...           ...   ...       ...  ...    ...   ...     ...     ...     ...
1304         1305  28.0    8.0500    0      0     0       0       0       0
1305         1306  39.0  108.9000    1      0     0       0       0       0
1306         1307  38.5    7.2500    0      0     0       0       0       0
1307         1308  28.0    8.0500    0      0     0       0       0       0
1308         1309  28.0   22.3583    0      1     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
0          0  ...        0        0        0       3        0        0
1          0  ...        0        0        0       1        0        0
2          0  ...        0        0        0       3        0        0
3          0  ...        0        0        0       1        0        0
4          0  ...        0        0        0       3        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1304       0  ...        0        0        0       3        0        0
1305       0  ...        0        0        0       1        0        0
1306       0  ...        0        0        0       3        0        0
1307       0  ...        0        0        0       3        0        0
1308       0  ...        0        0        0       3        0        0

      Embarked  zero.17  zero.18  2urvived
0          2.0        0        0         0
1          0.0        0        0         1
2          2.0        0        0         1
3          2.0        0        0         1
4          2.0        0        0         0
...        ...      ...      ...       ...
1304       2.0        0        0         0
1305       0.0        0        0         0
1306       2.0        0        0         0
1307       2.0        0        0         0
1308       0.0        0        0         0

[1309 rows x 28 columns]>

In [9]:
print(df.shape)

(1309, 28)

In [11]:
print(df.loc[1:5])

   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0
5            6  28.0   8.4583    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0
5       0  ...        0        0        0       3        0        0       1.0

   zero.17  zero.18  2urvived
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0
5        0        0         0

[5 rows x 28 columns]

In [13]:
print(df.iloc[1:5,[0,1]])

   Passengerid   Age
1            2  38.0
2            3  26.0
3            4  35.0
4            5  35.0

In [17]:
print(df.columns)

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

In [21]:
x = [1,3,4,5,6,6,7,8]
y = [2,3,4,5,6,7,8,9]
plt.Xlabel('X_axis')
plt.YLabel('Y_axis')
plt.title('Scatter Plot')
plt.scatter(x,y)
plt.show()

AttributeError: module 'matplotlib' has no attribute 'Xlabel'